.App {
  background-color: white;
  font-family: 'Helvetica';
  margin-left: 1%;
  transition: opacity 0.5s;
  opacity: 1;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.name {
  font-family: inherit;
  font-weight: inherit;
  color: black;
  font-size: 2em;
  left: 5%;
  /*text-align: center;*/
  
}

.contact {
  color: black;
  font-size: 1.5em;
}

.contact-div {
  right: 0%;
  margin-left: 50%;
  font-weight: inherit;
}

.name-div {
  display: flex;
  /*justify-content: "center";*/
  font-family: inherit;
  align-items: center;
  text-align: center;
}

.topic {
  font-size: 1.6em;
  text-decoration: inherit;
  font-family: 'Helvetica';
  position: fixed;
  color: black;
  font-weight: 50.5;
  transition-duration: 500ms;
}


.home {
  top: 58%;
}
.project {
  top: 62%
}

.writing {
  top: 66%
}

.contact-link {
  top: 70%
}

.topic:hover {
  color:#d1bbc6
}

.search-list {
  margin-left: .5%;
  display: inline-block;
  position: absolute;
}

.photo {
  position: absolute;
  width: 35%;
  top: 20%;
  right: 7%;
  margin-top: 0%;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.description {
  position: absolute;
  color:black;
  font-family: inherit;
  font-size: 1.1em;
  width: 40%;
  right: 43%;
  padding: 2%;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.intro-page-together {

  position: absolute;
  left: 50%;
  top: 22%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.mia-intro {
  font-size: 1.4em;
  font-weight: inherit;
}
.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  z-index: '-100';
}

.lines {
  width:37%;
  position: absolute;
  resizeMode:'contain';
  /*position: absolute;*/
}

.sidebar {
  position: absolute;
}

.contact-description {
  position: absolute;
  text-align: center;
  font-family: inherit;
  font-size: 1.7em;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.links-to-previous-jobs {
  animation: none;
  color: #5e86e6;
}
.links-to-previous-jobs:hover {
  color: #5e86e6;
}


a {
  text-decoration: none;
  color: #5e86e6;
}

.writing-main-text {
  position: absolute;
  width: 63%;
  font-size: 1.2em;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.links-to-articles {
  color: black;
  text-decoration: underline;
}

.links-to-articles:hover {
  color: black;
}

/*
@media only screen and (max-width: 900px) {
  .description {
    width: 0%;
    left: 20%;
    top: 70%;
  }
}*/


@media only screen and (max-width: 1050px) {

  .contact-description {
    font-size: 1.4em;
    width: 100%;
  }
  .photo {
    display: none;
  }
  .description {
    width: 85%;
    left: 10%;
    top: 20%;
  }

  .name {
    font-size: 1.2em;
    width: 100%;
  }

  .name-div {
    display: absolute;
    text-align: right;
    margin-right: 1%;
  }
  .contact {
    font-size: 1.2em;
    display: absolute;
    top: 30%;
  }

  .contact-div {
    position: absolute;
    width: 100%;
    margin-left: 0%;
    right: 1%;
    font-weight: inherit;
    top: 3.5%;
  }
  
  .topic {
    font-size: 1.2em;
  }


  
}

@media only screen and (max-width: 700px) {
  
  .name {
    font-size: 1.2em;
    width: 100%;
  }

  .name-div {
    display: absolute;
    text-align: right;
    margin-right: 1%;
  }
  .contact {
    font-size: 1.2em;
    display: absolute;
    top: 30%;
  }

  .contact-div {
    position: absolute;
    width: 100%;
    margin-left: 0%;
    right: 1%;
    font-weight: inherit;
    top: 3.5%;
  }
  
  .topic {
    font-size: 1.2em;
  }

  .photo {
    display: none;
  }

  .description {
    width: 85%;
    left: 5%;
    top: 20%;
    background-color: white;
  }

  .search-list {
    margin-left: .5%;
    display: inline-block;
    position: absolute;
  }
  .home {
    top: 3%;
    z-index: 4;
  }

  .project {
    top: 6%;
    z-index: 4;
  }

  .writing {
    top: 9%;
    z-index: 4;
  }
  .contact-link {
    top: 12%;
    z-index: 4;
  }

  .contact-description {
    font-size: 1.2em;
    width: 100%;
  }

}